<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p><%= message %></p>
  <p><a href="/">Back to Home</a></p>
</main>

<%- include('../partials/footer') %>
